*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

.container{
    width: 300px; 
    height: 150px; 
    border-radius: 10px;
    background-color: #0079d7;
}

button{
    color: #e2574c;
    font-weight: bold;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: #e2574c 2px solid;
    margin: 50px;
}

#record{
float: left;
}

#stop{
    float: right;
}

button:hover{
    color: white;
    background-color: #e2574c;
}
